.pay-btn {
    margin: 0 auto;
    padding: 12px 16px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
    display: block;
    background-color: #1d2327;
    border: #1d2327;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.pay-btn:hover {
    background-color: black;
    transition: all 1s ease ;
}

.iframe {
    min-height: 560px;
    width: 100%;
}

.payment_method_acceptcoin {
    width: 100% !important;
}

.payment_method_acceptcoin label img {
    max-width: 40px;
}

.description-title {
    margin: 0 0 15px 0 !important;
}